/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* top bar */
.header {
  position: sticky;
  top: 0;
  height: 64px;
  background-color: white;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  z-index: 5;
}

.nav-list {
  display: flex;
  height: 100%;
}

.nav-link {
  display: inline-block;
  height: 100%;
  line-height: 64px; /* vertically center the text */
  font-size: 1.2em;
  padding: 0 1em;
  position: relative;
}

.nav-link::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: palevioletred;
  position: absolute;
  left: 0;
  top: 48px;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

/* welcome section */
.welcome {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-heading {
  font-size: 4em;
  opacity: 0;
  animation: slide-up-in 0.4s ease-in forwards;
}

.welcome-subheading {
  margin: 1em 0 4em;
  font-size: 1.5em;
  opacity: 0;
  animation: slide-up-in 0.4s 0.4s ease-in forwards;
}

@keyframes slide-up-in {
  from {
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-about {
  display: inline-block;
  padding: 0.6em 1.2em;
  border-radius: 9999px;
  background-color: palevioletred;
  font-size: 1.1em;
  color: white;
  opacity: 0;
  transition: transform 0.2s ease-in-out;
  animation: fade-in 0.8s 0.8s ease-in forwards;
}

.welcome-about:hover {
  transform: scale(1.1);
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.waving-hand {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wiggle 2.5s 1.6s 1;
}

/* prettier-ignore */
@keyframes wiggle {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  
 100% { transform: rotate( 0.0deg) }
}

/* about section */
.about {
  height: calc(100vh - 64px);
  max-width: 376px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.about-heading {
  margin: 2em 0 1em;
  font-size: 3em;
}

.about-content {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.about-content:first-of-type::first-letter {
  font-size: 1.8em;
}

.about a[href*="http"] {
  text-decoration: 2px underline dashed palevioletred;
  color: palevioletred;
}

/* projects section */
.projects {
  width: 95%;
  max-width: 1200px;
  margin: 6rem auto;
}

.projects-heading {
  font-size: 3em;
  text-align: center;
  margin-bottom: 4rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4rem;
}

.project-tile {
  border: 1px solid rgb(219, 229, 230);
  --image-height: 28rem;
  position: relative;
}

.project-preview {
  display: block;
  overflow: hidden;
}

.project-preview img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  display: block;
}

.project-preview img:hover {
  transform: scale(1.05);
}

.project-info {
  padding: 1.5rem 3rem 10rem;
}

.project-lang {
  display: flex;
  font-weight: 600;
}

.project-lang > li {
  margin-right: 0.8em;
}

.project-lang .html {
  color: rgb(106, 190, 205);
}

.project-lang .scss {
  color: palevioletred;
}

.project-lang .js {
  color: orange;
}

.project-lang .react {
  color: lightskyblue;
}

.project-lang .styled-components {
  color: violet;
}

.project-heading {
  margin: 1rem 0 1.5rem;
  font-size: 1.5em;
}

.project-description {
  font-size: 1.1em;
  line-height: 1.6;
  color: rgb(153, 153, 153);
}

.project-view {
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.project-view .see-live {
  font-size: 1.1em;
  background-color: palevioletred;
  color: white;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 5px;
}

.project-view .source-code {
  color: palevioletred;
}

@media only screen and (min-width: 768px) {
  .project-preview img {
    height: var(--image-height);
  }

  .project-info {
    height: calc(100% - var(--image-height));
  }
}

/* contact section */
.contact {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10rem 0;
}

.contact-heading {
  text-align: center;
  font-size: 4em;
  margin: 0 0 2rem;
}

.contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-list > li {
  margin: 0 1rem;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact-link > span {
  color: palevioletred;
}

.contact .icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0.5rem;
}

.contact-link:hover .icon {
  color: palevioletred;
  animation: wiggle 0.3s infinite alternate;
}

@keyframes wiggle {
  from {
    transform: translateY(-1rem) rotate(-15deg);
  }
  to {
    transform: translateY(-1rem) rotate(15deg);
  }
}
